<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Ejs React Boilerplate</title>
</head>

<body>
    <h2 class="w3-center">Manual Slideshow</h2>
    <div id="root">

    </div>
    <div class="w3-content w3-display-container">
      <img class="mySlides" src="img/photos/1.jpg" style="width:100%">
      <img class="mySlides" src="img/photos/2.jpg" style="width:100%">
      <img class="mySlides" src="img/photos/3.jpg" style="width:100%">
      <img class="mySlides" src="img/photos/4.jpg" style="width:100%">
    
      <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
      <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
    </div>
    <script src="script.js"></script>

    <script src="bundle.js"></script>

</body>

</html>